<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>enter link you want to shorten</h1>
    <form method="post">
        <input type="text" name="url" value="url here">
        <input type="submit">
    </form>
    <p>Result: <a href={{ result }}> {{ result }}</a></p>
    <p>Path: {{ path }}</p>
</body>
</html>